<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>登录</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <link rel="stylesheet" href="/static/admin/css/other/login.css" />
    <link rel="stylesheet" href="/static/admin/css/variables.css" />
    <script>
      if (window.self != window.top) {
        top.location.reload();
      }
    </script>
  </head>

  <body>
    <div
      class="login-page"
      style="background-image: url(/static/admin/images/background.svg)"
    >
      <div class="layui-row">
        <div class="layui-col-sm6 login-bg layui-hide-xs">
          <img
            class="login-bg-img"
            src="/static/admin/images/banner.png"
            alt=""
          />
        </div>
        <div class="layui-col-sm6 layui-col-xs12 login-form">
          <div class="layui-form">
            <div class="form-center">
              <div class="form-center-box">
                <div class="top-log-title">
                  <img
                    class="top-log"
                    src="http://www.layui-vue.com/assets/logo.685dda16.jpg"
                    alt=""
                  />
                  <span>Pear Admin Flask</span>
                </div>
                <div class="top-desc">
                  以 超 乎 想 象 的 速 度 构 建 内 部 工 具
                </div>
                <div style="margin-top: 30px">
                  <div class="layui-form-item">
                    <div class="layui-input-wrap">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                      </div>
                      <input
                        lay-verify="required"
                        name="username"
                        placeholder="账户"
                        value="正心全栈编程"
                        autocomplete="off"
                        class="layui-input"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-wrap">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-password"></i>
                      </div>
                      <input
                        type="password"
                        name="password"
                        value="123456"
                        lay-verify="required|confirmPassword"
                        placeholder="密码"
                        autocomplete="off"
                        class="layui-input"
                        lay-affix="eye"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="remember-passsword">
                      <div class="remember-cehcked">
                        <input
                          type="checkbox"
                          name="like1[write]"
                          lay-skin="primary"
                          title="自动登录"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="login-btn">
                    <button
                      type="button"
                      lay-submit
                      lay-filter="login-in"
                      class="layui-btn login"
                    >
                      登 录
                    </button>
                  </div>
                  <div class="other-login">
                    <div class="other-login-methods">其他方式</div>
                    <div class="greenText">注册账号</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 资 源 引 入 -->
    <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
    <script>
      layui.use(["form", "button", "popup"], function () {
        var form = layui.form;
        var button = layui.button;
        var popup = layui.popup;
        var $ = layui.$;

        // 登 录 提 交
        form.on("submit(login-in)", function (data) {
          /// 验证
          console.log(data);
          /// 登录
          let btn = button.load({ elem: ".login" });

          $.ajax({
            url: "/api/v1/login",
            type: "POST",
            data: JSON.stringify(data.field),
            contentType: "application/json",
            success: function (data) {
              // 登录成功之后
              btn.stop(function () {
                // TODO 将服务器传递的 token 保存到本地
                localStorage.setItem("access_token", data.access_token);
                localStorage.setItem("refresh_token", data.refresh_token);

                // 停止按钮之后
                popup.success("登录成功", function () {
                  location.href = "/";
                });
              });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              btn.stop(function () {
                // 停止按钮之后
                popup.failure(XMLHttpRequest.responseJSON.message);
              });
            },
          });
          /// 动画
          // button.load({
          //   elem: ".login",
          //   time: 1500,
          //   done: function () {
          //     popup.success("登录成功", function () {
          //       // location.href = "./index.html";
          //     });
          //   },
          // });

          return false;
        });
      });
    </script>
  </body>
</html>
